.galleryContainer {
  position: relative;
  width: 100%;
  height: 640px;
}

.galleryInner {
  position: absolute;
  display: flex;
  transition: transform 0.2s;
}
.galleryTwoImages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 640px;
  width: 660px;
}

.galleryOneImage {
  height: 640px;
  width: 660px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 660px;
  height: 640px;
}

.galleryControlsDesno {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.galleryControlsLijevo {
  position: absolute;
  left: 20px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
}
